body{
  background:#f4f4f4;
  font-family:Arial;
}

.box{
  width:300px;
  background:white;
  padding:20px;
  margin:100px auto;
  border-radius:10px;
  text-align:center;
  box-shadow:0 0 10px #ccc;
}

input{
  width:90%;
  padding:10px;
  margin:8px 0;
}

button{
  background:#4CAF50;
  color:white;
  border:none;
  padding:10px;
  width:100%;
  cursor:pointer;
}

button:hover{
  background:#45a049;
}
